@use "../functions" as f;

.button{
    border-radius: 4px;
    @include f.flex-center;
    color: var(--white);
    padding: 8px 44px;
}

.button--green{
    @extend .button;
    background-color: var(--primary);
    font-size: 1.8rem;
    font-weight: 500;
    font-family: var(--sf);

    &:hover {
        @include f.invert-colors(var(--primary), var(--white));
    }
}